name: CD - Déploiement sur GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  Deploiement:
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code
        uses: actions/checkout@v3

      - name: Apply desired state
        run: |
          chmod +x scripts/apply_state.sh
          ./scripts/apply_state.sh

      - name: Déploiement vers GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          publish_branch: gh-pages
          force_orphan: true

